body {
    background-color: #040D12;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: large;
}

img {
    object-fit: contain;
    width: 60rem;
}

#container {
    background-color: #183D3D;
    color:antiquewhite;
    width: 60rem;
    margin: 1rem;
    padding-left : 8rem;
    padding-right: 8rem;
    border-radius: 1rem;
}

a {
    color: antiquewhite;   
}

a:hover {
    color: aliceblue;
}

h1,h2,h3 {
    text-align: center;
}

.hr {
    border: none;
  border-top: 1px dotted ;
    opacity: .5;
}